
.slider {
    display: flex;
    justify-content: center;
}
.slider__item {
    height: 400px;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    overflow: hidden;
}
.swiper-button-prev .swiper-button-next {
    @include media(sm) {
        display: none;
    }
}
.swiper-button-prev::after {
    content: '';
    display: block;
    height: 30px;
    width: 50px;
    padding: 10px;
    border-radius: 30px;
    box-sizing: border-box;
    border-radius: 30px;
    background: url('../images/icons/slider-arrow.svg') center no-repeat;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 10px 10px 0px rgba(0, 32, 64, 0.10);
    backdrop-filter: blur(2.5px);
}
.swiper-button-next::after {
    content: '';
    display: block;
    height:30px;
    width: 50px;
    padding: 10px;
    border-radius: 30px;
    box-sizing: border-box;
    border-radius: 30px;
    background: url('../images/icons/slider-arrow.svg') center no-repeat;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 10px 10px 0px rgba(0, 32, 64, 0.10);
    backdrop-filter: blur(2.5px);
    transform: rotate(180deg);    
}