.gallery {
    background-color: $blue-light;
}
.slider {
    display: flex;
    justify-content: center;
}
.slider__item {
    height: 400px;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    overflow: hidden;
}