.advantage{
    position: relative;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;

    @include media(sm) {
        width: 400px;
        height: 400px;
        cursor: pointer;
    }
    &:hover .advantage__text{
        max-height: 200px;
      }
      &:hover .advantage__bg::after {
        opacity: .5;
      }

    &__bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 140px;
        z-index: 0;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #002040;
            opacity: .5;
            transition: opacity .2s linear;

            @include media(sm) {
                opacity: .25;
            }

        }

        @include media(sm){
            height: 100%;
        }
    }


    &__img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    &__content{
        position: relative;
        z-index: 2;
        @include media (sm) {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 10px;
        }
    }
    &__header{
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
        color: white;
        box-sizing: border-box;

        @include media (sm){
            padding: 0;
            flex-direction: column;
            gap: 10px;

        }

        &.is-open + .advantage__text{
            display:block;
        }
        &.is-open > .advantage__arrow{
            transform: rotateX(180deg);
        }
    }

    &__icon{

        & img {
            height: 40px;
            width: 40px;

            @include media (sm) {
                width: 80px;
                height: 80px;
            }
        }

    }
    &__name{
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__arrow{
        display: block;
        height: 30px;
        width: 30px;
        background: url('../images/icons/Arrow.svg');
        transition: transform .5s linear;
        @include media (sm) {
            display: none;
        }
    }
    &__text{
        padding: 40px;
        display: none;
        @include media(sm) {
            display: block;
            max-height: 0;
            overflow: hidden;
            background: none;
            color: white;
            padding: 0;
      
            transition: max-height 0.4s ease;
        }
    }
}