
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url("../fonts/Montserrat-Regular.woff") format(woff);
}
.body {
    width: 480px;
    font-family: Montserrat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    max-width: 480px;
    margin: auto;
}
.text-center {
    text-align: center;
}
.projects {
    padding-top: 40px;
    padding-bottom: 160px;
    &__title {
        margin: 40px;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    &__grid{
        display: grid;
        gap: 20px;
    }
}