@mixin button-setting ($g, $pad, $br) {
    padding: $pad;
    gap: $g;
    border-radius: $br;
    }
@mixin footer-container ($p: 40px) {
    padding: 40px $p;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-bottom: 1px solid #FFFFFF40;
    @include media (md) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
}
@mixin media ($size) {
    @if ($size == sm) {
        @media only screen and (width >= $screen-sm) {
          @content;
        }
    }
    @if ($size == md) {
        @media only screen and (width >= $screen-md) {
          @content;
        }
    }
    @if ($size == lg) {
        @media only screen and (width >= $screen-lg) {
          @content;
        }
    }
}