
$header-height: 100px;


$blue-gradient:  linear-gradient(180deg, #409FFF 0%, #007FFF 100%);
$blue-bg: #F9FCFF;
$blue-light: #F2F9FF;
$blue-middle: #007FFF;
$blue-dark: #002040;

$screen-lg: 1280px;
$screen-md: 1024px;
$screen-sm: 768px;
