.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        width: 280px;
        height: 70px;
    }
    &__button {
        @include button(120px, 40px);
        border-radius: 70px;
        font-family: Montserrat;
        padding: 10px 20px;
        gap: 10px;
        &::after {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background: url('../images/icons/Vector-burger.svg')
            }
    }
}